In [1]:
import pandas as pd

In [4]:
train = pd.read_csv("Jupyter Temp/lg 공모전/data/0126_train_xy.csv")
test = pd.read_csv("Jupyter Temp/lg 공모전/data/0126_test_x.csv")
train_w = pd.read_csv("Jupyter Temp/lg 공모전/data/0126_train_weekend.csv")
test_w = pd.read_csv("Jupyter Temp/lg 공모전/data/0126_test_weekend.csv")

In [6]:
train = train.merge(train_w,how="left",on="user_id")
test = test.merge(test_w,how="left",on="user_id")

In [7]:
train.fillna(0,inplace=True)
test.fillna(0,inplace=True)

In [8]:
train.head()

,user_id,model_nm,update,err_1,err_2,err_3,err_4,err_5,err_6,err_7,...,q_chg_3,q_chg_4,q_chg_5,q_chg_6,q_chg_11,label,weekend_04,weekend_28,weekend_29,weekend_35
0,10000,1,0,0.0,0.0,8.0,104.0,0.0,1.0,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,120.0,28.0,0.0,0.0
1,10001,1,1,0.0,0.0,0.0,0.0,53.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,10002,1,0,0.0,0.0,2.0,132.0,1.0,2.0,1.0,...,0.0,0.0,12.0,3.0,1.0,0.0,216.0,0.0,0.0,0.0
3,10003,1,1,0.0,0.0,0.0,0.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10004,1,1,0.0,0.0,0.0,1.0,0.0,3.0,4.0,...,0.0,0.0,3.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0

In [9]:
test.head()

,user_id,model_nm,update,err_1,err_2,err_3,err_4,err_5,err_6,err_7,...,q_chg_2,q_chg_3,q_chg_4,q_chg_5,q_chg_6,q_chg_11,weekend_04,weekend_28,weekend_29,weekend_35
0,30000,2.0,1.0,0.0,0.0,0.0,0.0,62.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,35.0
1,30001,1.0,0.0,0.0,0.0,3.0,98.0,3.0,4.0,4.0,...,1.0,0.0,0.0,7.0,1.0,1.0,120.0,0.0,0.0,0.0
2,30002,1.0,1.0,0.0,0.0,0.0,0.0,79.0,2.0,1.0,...,3.0,0.0,0.0,16.0,3.0,3.0,0.0,0.0,0.0,0.0
3,30003,1.0,1.0,0.0,0.0,0.0,0.0,107.0,2.0,2.0,...,0.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0
4,30004,2.0,1.0,0.0,0.0,0.0,2.0,6.0,1.0,1.0,...,1.0,0.0,0.0,2.0,3.0,1.0,8.0,28.0,0.0,35.0

In [10]:
train.shape

(15000, 71)

In [11]:
test.shape

(14999, 70)

In [12]:
train.to_csv("Jupyter Temp/lg 공모전/0126 data/train.csv", index=False)
test.to_csv("Jupyter Temp/lg 공모전/0126 data/test.csv", index=False)